@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif;
}

#trip-visualizer {
  margin: 0 auto;
  width: 800px;
}


#streetview-map {
  width: 100%;
  height: 350px;
  background-color: wheat;
}

@mixin box {
  width: 50%;
  float: left;
  height: 300px;
}

#birdseye-map {
  @include box;
  background-color: aqua;
}

#directions-container {
  @include box;
  overflow-y: scroll;
  background-color: lightblue;
}

#directions-form {
  @include box;
}

#slideshow-controls {
  @include box;
}

input[type='text'] {
  width: 95%;
}

#text-directions .reached {
  background-color: yellow;
}
