@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif;
}

#trip-visualizer {
  margin: 0 auto;
  width: 800px;
}

#streetview-map {
  width: 100%;
  height: 350px;
  background-color: wheat;
}

#video-controls {
  width: 100%;
  height: 35px;
  background-color: black;
  position: relative;
}

.video-buttons {
  color: white;
  padding-top: 10px;
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
}

button {
  height: 20px;
  padding: 0;
  width: 30px;
  line-height: inherit;
  margin-top: 3px;
  line-height: 20px;
}

button:not(#play) {
  font-family: menlo;
}

.progress-indicator-wrapper {
  width: 100%;
  cursor: pointer;
  height: 10px;
  position: absolute;
  top: 0;
}

#video-controls .progress-indicator {
  background-color: yellow;
  opacity: 0.5;
  height: 10px;
  position: absolute;
  top: 0;
}

@mixin box {
  width: 50%;
  float: left;
  height: 300px;
}

#birdseye-map {
  @include box;
  background-color: aqua;
}

#directions-container {
  @include box;
  overflow-y: scroll;
  background-color: #D0E5EC;
}

#directions-form {
  background-color: gray;
  padding: 5px;
}

input[type='text'] {
  width: 280px;
}

#directions-summary {
  margin: 20px;
  margin-bottom: 10px;
}

#text-directions {
  list-style: none;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

#text-directions li {
  position: relative;
  font-size: small;
}

#text-directions li span {
  position: relative;
  z-index: 1;
}

#text-directions .progress-indicator {
  height: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: yellow;
}

.progress-indicator-wrapper {
  background-color: #444;
}

#text-directions li a {
  margin-right: 0.5em;
}

.footer {
  text-align: center;
  font-size: small;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 2em;
  float: left;
}
