#trip-visualizer
  #streetview-map
  #video-controls
    .progress-indicator-wrapper
      .progress-indicator.progress-indicator-fixed
      .progress-indicator.progress-indicator-hover
    .video-buttons
      %button#play.is-paused ►
      %button#prev-waypoint «
      %button#prev-image ‹
      %button#next-image ›
      %button#next-waypoint »
  #directions-form
    %select#travel-mode
      %option{value: 'WALKING'} Walk
      %option{value: 'DRIVING'} Drive
      %option{value: 'BICYCLING'} Bike
    %label from
    %input#origin{type: 'text', value: default_origin}
    %label to
    %input#destination{type: 'text', value: default_destination}
    %input#submit{type: 'submit', value: 'Submit'}
  #directions-container
    %ul#text-directions
  #birdseye-map
