#trip-visualizer
  #streetview-map
  #video-controls
    .progress-indicator-wrapper
      .progress-indicator.progress-indicator-fixed
      .progress-indicator.progress-indicator-hover
    .video-buttons
      %button#play.is-paused ►
      %button#prev-waypoint «
      %button#prev-image ‹
      %button#next-image ›
      %button#next-waypoint »
  #directions-container
    %ul#text-directions
  #birdseye-map
  #directions-form
    .form-friend
      %label From
      %input#origin{type: 'text', value: default_origin}
    .form-friend
      %label To
      %input#destination{type: 'text', value: default_destination}
    .form-friend
      %label By
      %br
      %select#travel-mode
        %option{value: 'WALKING'} Walking
        %option{value: 'DRIVING'} Driving
        %option{value: 'BICYCLING'} Biking
    .form-friend
      %input#submit{type: 'submit'}
