#trip-visualizer
  #streetview-map
  #birdseye-map
  #directions-container
    %ul#text-directions
  #directions-form
    .form-friend
      %label From
      %input#origin{type: 'text', value: default_origin}
    .form-friend
      %label To
      %input#destination{type: 'text', value: default_destination}
    .form-friend
      %label By
      %br
      %select#travel-mode
        %option{value: 'WALKING'} Walking
        %option{value: 'DRIVING'} Driving
        %option{value: 'BICYCLING'} Biking
    .form-friend
      %input#submit{type: 'submit'}
  #slideshow-controls
    -#%button#play-slideshow Play
    -#%select#slideshow-speed
      -#%option Slow
      -#%option Medium
      -#%option Fast
    -#%br
    %button#prev-image Prev
    %button#next-image Next
